@font-face {
  font-family: "Signlode";
  src: url("./Signlode.ttf");}

body {
  vertical-align: middle;
}

.logo {
  
  background-color: rgb(62,22,10);
  background-size: auto;
  border-radius: 10px;
  margin-left: 80px;
}

.text:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('./bg.png');
    background-repeat: none;
    background-size: cover;
    width: 1400px;
    height: 1700px;
    margin-top: -750px;
    margin-left: -10px;
    filter: blur(10px);
}
.social {
  margin-left: 300px;
  margin-top: 90px;
  position: relative;
  z-index: 1;
}

.text {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 25px;
  margin-left: 50px;
  width: 700px;
  height: 200px;
  background-color: rgb(62,22,10);
  text-align: center;
  color: white;
  border-radius: 10px;
}

ul {
list-style-type: none;
text-align:  left;
margin-left: -10px;
}

.ig, .fb {
  height: 100px;
  width: 100px;
  margin-left: -85px;
  margin-top: -75px;
}
.ig {
  margin-left: -225px;
}

.list {
  margin-left: -20px;
}

h4 {
  
}

.contact {
  font-family: arial;
  font-size: 24px;
  margin-left: 380px;
  margin-top: -300px;
  width: 400px;
  height: 280px;
  background-color: rgb(235,19,128);
  text-align: left;
  color: white;
  border-radius: 10px;
}

h4 {
  text-align: center;
  margin-top: 20px;
  font-family: "Signlode";
  font-size: 50px;
  padding-top: 10px;
  margin-bottom: -35px;
}

h1 {
  margin: 20px 10px 8px 10px;
  font-family: "Signlode";
}

* {
  box-sizing: border-box
}

.image-slideshow {
background-color: rgb(150,201,38);
margin-left: 25px;
max-width: 350px;
position: relative;
text-align: center;
border-radius: 10px;
}



.slides {
  max-width: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.fade {
animation-name: fade;
animation-duration: 1s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

